@font-face {
  font-family: MyOldFont;
  src: url('test.woff') format('woff');
}

body {
  display: flex;
  flex-direction: row;
  user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #e6e6e6;
  background-color: #202020;
  text-shadow: 1px 1px #333;
  background-image: linear-gradient(right bottom, #212121, #303030, #3f3f3f, #4f4f4f, #606060);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 3px rgb(75, 75, 75); */
  background: #5b5b5b;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 40, 40);
  border: 1px solid rgb(118, 118, 118);
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 62, 62);
  border: 1px solid rgb(240, 94, 3);
  /* border-radius: 10px; */
}

.draggable-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  user-select: none;
  position: relative;
  /* width: calc(100% - 279px); */
  /* height: calc(100vh - 10px); */
  background-image: linear-gradient(
    315deg,
    hsl(0deg 0% 18%) 0%,
    hsl(344deg 0% 20%) 11%,
    hsl(344deg 0% 21%) 22%,
    hsl(344deg 0% 23%) 33%,
    hsl(344deg 0% 24%) 45%,
    hsl(344deg 0% 26%) 56%,
    hsl(344deg 0% 27%) 67%,
    hsl(344deg 0% 29%) 78%,
    hsl(344deg 0% 30%) 89%,
    hsl(0deg 0% 32%) 100%
  );
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-left: 0px;
  border: 1px solid rgb(118, 118, 118);
  overflow: auto;
  /* border-radius: 5px; */
  /* border-style: groove; */
  border-radius: 3px;
}

/* .draggable {
  user-select: none;
  position: absolute;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: move;
} */

.draggable-window {
  resize: horizontal;
  position: absolute;
  top: 5px;
  left: 220px;
  /* padding: 5px; */
  background-color: #333;
  cursor: auto;
  width: 100px;
  min-width: 400px;
  /* max-width: 500px; */
  /* height: auto; */
  overflow: hidden;
  image-rendering: pixelated;
  border: 1px solid rgb(118, 118, 118);
  /* border-radius: 5px; */
  /* box-shadow: 2px 2px 10px #151515; */
  /* border-style: groove; */
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border-radius: 3px;
  z-index: auto;
}

/* .draggable-window::before {
  z-index: 1;
} */

/* .draggable-window:active {
  z-index: 10;
} */

.content {
  display: flex;
  height: 100%;
  border: 1px solid #141414;
  padding: 0px;
  margin: 5px;
  border-radius: 3px;
  /* margin-bottom: 10px; */
  /* padding: 0px; */
}

.draggable-window img {
  width: 100%;
  height: 100%;
  /* padding: 3px; */
  /* object-fit: contain; */
  image-rendering: pixelated;
  /* margin: 0px; */
  /* padding-bottom: 0px; */
}

.drag-bar {
  /* position: sticky;
  top: 0px;
  left: 0px; */
  display: flex;
  flex-direction: row;
  cursor: grab;
  background-color: #585858;
  /* border-radius: 2px; */
  /* width:  100%; */
  /* padding: 1px; */
  height: fit-content;
  margin: 5px;
  padding: 3px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  user-select: none;
  /* margin: auto; */
  
  /* font-size: 10px; */
  text-overflow: auto;
  font-size: 12px;
  text-shadow: 1px 1px rgb(41, 40, 40);
  
  /* overflow: hidden; */
}

.close-button {
  display: flex;
  flex: 1;
  position: absolute;
  right: 0%;
  margin: 10px;
  width: 18px;
  height: 18px;
  background-color: rgb(146, 0, 0);
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: red;
  transform: translateY(-3);
}

.copy-palette-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  /* position: absolute;
  bottom: 0px;
  left: 0px; */
  width: auto;
  height: 25px;
  /* background-color: #05f7ff; */
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  text-shadow: 3px 3px #3b3b3b;
  color: white;
  opacity: 100%;
}

.download-button {
  width: 50px;
  height: 50px;
  color: white;
}

.download-button:hover {
  color: gold;
}

.palette-div {
  display: flex;
  flex-direction: row;
  /* width: fit-content; */
  /* height: fit-content; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* cursor: auto; */
  margin: 10px;
  padding: 0;
  /* z-index: 1; */
  border-radius: 3px;
}
.palette-div:hover {
  background-color: #141414b7;
  /* opacity: 80%; */
}

.palette-div .icon-grid-small {
  margin-right: 10px;
}

.image-palette-div {
  /* display: flex;
  flex-direction: row; */
  /* position: relative; */
  /* right: 0; */
  /* flex: 1; */
  /* background-color: #202020; */
  /* padding: 1px; */
  /* margin-left: 50px; */
  align-self: center;
  align-content: center;
  justify-self: center;
  width: 100%;
  /* width: auto;
  height: auto; */
}

.copy-palette-button:hover {
  color: rgb(255, 236, 128);
}

.drag-text {
  font-size: 15px;
  align-self: center;
  width: 100%;
  height: 100%;
  flex: 1;
  /* text-shadow: 3px 3px rgb(41, 40, 40); */
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(
    90deg,
    hsl(0, 0%, 27%) 50%,
    hsl(0, 0%, 25%) 75%,
    hsl(0, 0%, 20%) 100%
  ); */
  background-color: #3e3e3e;
  width: 220px;
  height: calc(100vh - 10px);
  margin: 5px;
  border: 2px solid rgb(108, 108, 108);
  /* border-radius: 5px; */
  border-style: groove;
  align-items: center;
  align-content: center;
  /* justify-content: center;
  justify-items: center; */
  border-radius: 3px;
}

.sidebar-header {
  display: flex;
  font-size: 20px;
  text-shadow: 3px 3px rgb(41, 40, 40);
  margin: 10px;
  margin-bottom: 20px;
  justify-content: center;
  border-bottom: 1px solid rgb(108, 108, 108);
}

.image-icon {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  font-size: 50px;
  color: #b2b2b2;
  margin-bottom: 10px;
}

.image-icon:hover {
  color: #ffffff;
}

.image-icon:active {
  transform: translateY(5px);
}

.file-input {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-picker {
  display: flex;
  flex-direction: column;
  padding: 3px;
  /* width: 100%; */
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border: 1px solid #606060;
  background-color: #282828;
  /* border: 3px solid greenyellow; */
  border-radius: 3px;
}

/* .color-picker {
  display: inline-block;
  display: none;
} */

.palette-name {
  /* flex: 1; */
  display: flex;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
  word-wrap: normal;
  height: 100%;
  width: 50%;
  /* align-self: center; */
}

.palette-title {
  margin-bottom: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 12px;
}

.icon-grid {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(8, 24px);
  grid-template-rows: repeat(2, 24px);
  /* border: 1px solid #999; */
  border-radius: 2px;
  align-content: center;
  justify-content: center;
  /* margin: 1px; */
  /* padding: 1px; */
  /* box-shadow: 3px 3px 3px #2a2a2a; */
}

.icon {
  width: 22px;
  height: 22px;
  /* padding: 1px; */
  /* margin: 3px; */
  border: 1px solid #202020;
}

.icon:hover {
  border: 1px solid #05f7ff;
}

.dropdown {
  display: flex;
  /* flex: 1; */
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  position: relative;
  /* border-radius: 5px; */
  /* justify-content: center; */
  /* align-content: center; */
  /* justify-items: center; */
  /* align-items: center; */
  /* text-align: center; */
  border: 1px solid #414141;
  box-shadow: 3px 3px 3px #2a2a2a;
  background-color: #525252;
  border-radius: 3px;
}

.dropdown:hover {
  background-color: #d05000;
}

.dropdown-header {
  justify-content: center;
  /* align-content: center; */
  /* justify-items: center; */
  align-items: center;
  display: flex;
  flex: 1;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
}

.dropdown-title {
  flex: 1;
  /* margin-top: 2px; */
  /* height: 100%; */
  text-shadow: 3px 3px 3px #2a2a2a;
  /* justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center; */
}

.dropdown-icon {
  display: none;
  margin-bottom: 15px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  margin-right: 20px;
  transform: rotate(135deg);
  transition: transform 0.3s;
}

.dropdown-icon.open {
  transform: rotate(135deg);
}

.dropdown-list {
  position: absolute;
  top: 60%;
  /* left: 0; */
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  /* overflow-x: auto; */
  border: 1px solid #414141;
  border-top: none;
  background-color: #282828;
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.dropdown-item {
  display: flex;
  /* justify-content: center; */
  /* align-content: center; */
  /* justify-items: center; */
  align-items: center;
  text-align: left;
  min-height: 35px;
  /* padding: 5px; */
  /* border-radius: 5px; */
  border-bottom: 3px solid #414141;
  background-color: rgb(46, 46, 46);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #19d3f8;
}

.palette-preview {
  display: flex;
  text-align: left;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* align-items: center; */
}

.icon-grid-small {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(8, 10px);
  grid-template-rows: repeat(2, 10px);
  position: absolute;
  right: 0px;
  align-self: center;
  /* margin-top: 2px; */
  margin-right: 5px;
}

.icon-small {
  width: 10px;
  height: 10px;
  border: 1px solid #414141;
}

.preset-picker {
  width: 100%;
  height: fit-content;
  /* margin-top: 5px; */
  padding-top: 5px;
  /* padding-bottom: 5px; */
}

.copy-palette-string {
  display: flex;
  font-size: 35px;
  /* width: 200px;
  height: 30px; */
  /* justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center; */
  /* overflow: hidden; */
  margin-top: 15px;
  /* border: 1px solid #414141; */
  text-shadow: 3px 3px 3px #2a2a2a;
  /* background-color: #525252; */
  color: #b2b2b2;
}

.copy-palette-string:hover {
  color: #d0d0d0;
}

.paste-palette-string {
  display: flex;
  font-size: 35px;
  flex: 1;
  /* width: 200px;
  height: 30px; */
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  /* overflow: hidden; */
  margin-top: 15px;
  margin-left: 60px;
  /* border: 1px solid #414141; */
  text-shadow: 3px 3px 3px #2a2a2a;
  /* background-color: #525252; */
  color: #b2b2b2;
}

.paste-palette-string:hover {
  color: #d0d0d0;
}

.copy-paste-div {
  display: flex;
  flex-direction: row;
}

.apply-palette {
  margin-top: 5px;
  position: relative;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
  height: 30px;
  border: 1px solid #414141;
  box-shadow: 3px 3px 3px #2a2a2a;
  background-color: #525252;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 12px;
  border-radius: 3px;
}

.apply-palette:hover {
  background-color: #d05000;
}

.apply-palette:active {
  transform: translateY(3px);
}

.control-panel {
  position: absolute;
  /* top: 28px; */
  left: calc(50% - 125px);
  top: calc(25%);
  margin: 5px;
  display: none;
  flex-direction: column;
  width: 250px;
  height: fit-content;
  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(61, 61, 61);
  text-align: center;
  color: aliceblue;
  border-radius: 3px;
  align-self: center;
  justify-self: center;
  /* justify-content: center; */
  /* justify-self: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* z-index: 1; */
  opacity: 90%;
}

.control-panel-header {
  /* flex: 1; */
  position: relative;
  /* top: 0; */
  align-self: center;
  width: 60%;
  height: 25px;
  color: aliceblue;
  font-size: 18px;
  border-bottom: 1px solid rgb(61, 61, 61);
  user-select: none;
  margin: 5px;
  /* border-width: 75%; */
}

.settings-icon {
  color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.settings-footer {
  position: absolute;
  bottom: 0;
  align-self: center;
  border-bottom: 1px solid rgb(61, 61, 61);
  width: 90%;
  margin: 15px;
}

.dither-select-box {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  background-color: rgb(64, 64, 64);
  border-radius: 3px;
  font-size: 12px;
  /* width: 100%; */
  margin: 5px;
  height: 45px;
  user-select: none;
  text-align: center;
  align-items: center;
}

.dither-select {
  /* display: flex; */
  position: relative;
  background-color: rgb(73, 73, 73);
  max-height: 25px;
  width: 135px;
  right: 0px;
  color: aliceblue;
  margin: auto;
  margin-right: 5px;
  border-radius: 3px;
}

.dither-option {
  background-color: rgb(68, 68, 68);
  font-size: 12px;
  color: aliceblue;
}

.dither-option:hover {
  background-color: coral;
}

.serpentine-box {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  background-color: rgb(64, 64, 64);
  font-size: 12px;
  /* width: 100%; */
  margin: 5px;
  height: 35px;
  user-select: none;
  text-align: center;
  align-items: center;
}

.option-name {
  max-width: 80px;
  font-size: 12px;
  margin: 5px;
}

/* .notification {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #05f7ff;
  display: flex;
} */

#notification-container {
  position: absolute;
  top: 15px;
  left: (50% - 250px);
  /* transform: translateX(-50%); */
  width: 500px;
  margin: 5px;
  z-index: 9999;
  align-self: center;
  text-align: center;
}

.notification {
  padding: 10px;
  margin: 10px;
  background-color: #353535;
  border: 1px solid #616161;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.notification.hidden {
  opacity: 0;
}
