.picker-card {
  display: none;
  flex-direction: column;
  background-color: rgb(59, 59, 59);
  padding: 5px;
  max-width: 182px;
  height: fit-content;
  margin-top: 5px;
}

.picker-canvas {
  height: 50px;
  margin: 5px;
}

.picker-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.picker-sliders {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
}

.picker-slider {
  width: 75%;
  margin-left: 10px;
  margin-right: 10px;
}

.picker-slider-text {
  flex-direction: row;
  font-size: 15px;
  color: #fff;
  margin-bottom: 2px;
}

.slider-container {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
}

.picker-input {
  height: 15px;
  width: 15%;
  text-align: center;
  background-color: #bdbdbd;
  border: none;
}

.picker-input:active {
  border: none;
}

.picker-button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.picker-button-spacer {
  width: 20%;
}

.picker-ok-button {
  display: flex;
  width: 30%;
  height: 22px;
  margin: 5px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: #327ac7;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.picker-cancel-button {
  background-color: #c7324b;
}

.picker-ok-button:hover {
  border: 1px solid #ff8944;
}