body {
  display: flex;
  flex-direction: row;
  user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #e6e6e6;
  background-color: #202020;
  text-shadow: 1px 1px #333;
  background-image: linear-gradient(right bottom, #212121, #303030, #3f3f3f, #4f4f4f, #606060);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 3px rgb(75, 75, 75); */
  background: #5b5b5b;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: rgb(41, 40, 40);
  border: 1px solid rgb(118, 118, 118);
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 62, 62);
  border: 1px solid #d05000;
  /* border-radius: 10px; */
}

.draggable-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  user-select: none;
  position: relative;
  background-image: linear-gradient(
    315deg,
    hsl(0deg 0% 18%) 0%,
    hsl(344deg 0% 20%) 11%,
    hsl(344deg 0% 21%) 22%,
    hsl(344deg 0% 23%) 33%,
    hsl(344deg 0% 24%) 45%,
    hsl(344deg 0% 26%) 56%,
    hsl(344deg 0% 27%) 67%,
    hsl(344deg 0% 29%) 78%,
    hsl(344deg 0% 30%) 89%,
    hsl(0deg 0% 32%) 100%
  );
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-left: 0px;
  border: 1px solid rgb(118, 118, 118);
  overflow: auto;
  border-radius: 3px;
}

.draggable-window {
  resize: horizontal;
  position: absolute;
  top: 5px;
  left: 220px;
  background-color: #333;
  cursor: auto;
  width: 100px;
  min-width: 400px;
  overflow: auto;
  image-rendering: pixelated;
  border: 1px solid rgb(118, 118, 118);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border-radius: 3px;
  z-index: auto;
}

.content {
  display: flex;
  height: 100%;
  border: 1px solid #141414;
  padding: 0px;
  margin: 5px;
  border-radius: 3px;
}

.draggable-window img {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.drag-bar {
  display: flex;
  flex-direction: row;
  cursor: grab;
  background-color: #585858;
  height: fit-content;
  margin: 5px;
  padding: 3px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  user-select: none;
  text-overflow: auto;
  font-size: 12px;
  text-shadow: 1px 1px rgb(41, 40, 40);
}

.close-button {
  display: flex;
  flex: 1;
  position: absolute;
  right: 0%;
  margin: 10px;
  width: 18px;
  height: 18px;
  background-color: rgb(108, 1, 1);
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: red;
  transform: translateY(-3);
}

.copy-palette-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: auto;
  height: 25px;
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  text-shadow: 3px 3px #3b3b3b;
  color: white;
  opacity: 100%;
}

.copy-palette-button:active {
  transform: translateY(-3);
}

.download-button {
  width: 50px;
  height: 50px;
  color: white;
}

.download-button:hover {
  color: gold;
}

.download-button:active {
  transform: translateY(-3);
}

.palette-div {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 10px;
  padding: 0;
  border-radius: 3px;
}
.palette-div:hover {
  background-color: #141414b7;
}

.palette-div .icon-grid-small {
  margin-right: 10px;
}

.image-palette-div {
  align-self: center;
  align-content: center;
  justify-self: center;
  width: 100%;
}

.copy-palette-button:hover {
  color: #d05000;
}

.drag-text {
  font-size: 15px;
  align-self: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #3e3e3e;
  width: 220px;
  height: calc(100vh - 10px);
  margin: 5px;
  border: 2px solid rgb(108, 108, 108);
  border-style: groove;
  align-items: center;
  align-content: center;
  border-radius: 3px;
}

.sidebar-header {
  display: flex;
  font-size: 20px;
  text-shadow: 3px 3px rgb(41, 40, 40);
  margin: 10px;
  margin-bottom: 20px;
  justify-content: center;
  border-bottom: 1px solid rgb(108, 108, 108);
}

.image-icon {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  font-size: 50px;
  color: #b2b2b2;
  margin-bottom: 10px;
}

.image-icon:hover {
  color: #d05000;
}

.image-icon:active {
  transform: translateY(5px);
}

.file-input {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-picker {
  display: flex;
  flex-direction: column;
  padding: 3px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border: 1px solid #606060;
  background-color: #282828;
  border-radius: 3px;
}

.palette-name {
  display: flex;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
  word-wrap: normal;
  height: 100%;
  width: 50%;
}

.palette-title {
  margin-bottom: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 12px;
}

.icon-grid {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(8, 24px);
  grid-template-rows: repeat(2, 24px);
  border-radius: 2px;
  align-content: center;
  justify-content: center;
}

.icon {
  width: 22px;
  height: 22px;
  border: 1px solid #202020;
}

.icon:hover {
  border: 1px solid #05f7ff;
}

.dropdown {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  position: relative;
  border: 1px solid #414141;
  box-shadow: 3px 3px 3px #2a2a2a;
  background-color: #525252;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #e6e6e6;
}

.dropdown-header:hover {
  background-color: #d05000;
}

.dropdown-header {
  display: block;
  width: 100%;
  height: 30px;
  margin-left: 2px;
  margin-right: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #e6e6e6;
  position: absolute;
  cursor: pointer;
  border: 1px solid #414141;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #2a2a2a;
  background-color: #525252;
  /* color: aliceblue; */
}

/* .dropdown-title {
  flex: 1;
  text-shadow: 3px 3px 3px #2a2a2a;
} */

.dropdown-icon {
  display: none;
  margin-bottom: 15px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  margin-right: 20px;
  transform: rotate(135deg);
  transition: transform 0.3s;
}

.dropdown-icon.open {
  transform: rotate(135deg);
}

.dropdown-list {
  position: absolute;
  top: 60%;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #414141;
  border-top: none;
  background-color: #282828;
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  text-align: left;
  min-height: 35px;
  border-bottom: 3px solid #414141;
  background-color: rgb(46, 46, 46);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #19d3f8;
}

.palette-preview {
  display: flex;
  text-align: left;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.icon-grid-small {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(8, 10px);
  grid-template-rows: repeat(2, 10px);
  position: absolute;
  right: 0px;
  align-self: center;
  margin-right: 5px;
}

.icon-small {
  width: 10px;
  height: 10px;
  border: 1px solid #414141;
}

.preset-picker {
  width: 100%;
  height: fit-content;
  padding-top: 5px;
}

.copy-palette-string {
  display: flex;
  font-size: 35px;
  margin-top: 15px;
  text-shadow: 3px 3px 3px #2a2a2a;
  color: #b2b2b2;
}

.copy-palette-string:hover {
  color: #d05000;
}

.copy-palette-string:active {
  transform: translateY(5px);
}

.paste-palette-string {
  display: flex;
  font-size: 35px;
  flex: 1;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-left: 60px;
  text-shadow: 3px 3px 3px #2a2a2a;
  color: #b2b2b2;
}

.paste-palette-string:hover {
  color: #d05000;
}

.paste-palette-string:active {
  transform: translateY(5px);
}

.copy-paste-div {
  display: flex;
  flex-direction: row;
}

.apply-palette {
  margin-top: 5px;
  position: relative;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
  height: 30px;
  border: 1px solid #414141;
  box-shadow: 3px 3px 3px #2a2a2a;
  background-color: #525252;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 12px;
  border-radius: 3px;
}

.apply-palette:hover {
  background-color: #d05000;
}

.apply-palette:active {
  transform: translateY(3px);
}

.control-panel {
  position: absolute;
  left: calc(50% - 125px);
  top: calc(25%);
  margin: 5px;
  display: none;
  flex-direction: column;
  width: 250px;
  height: fit-content;
  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(61, 61, 61);
  text-align: center;
  color: aliceblue;
  border-radius: 3px;
  align-self: center;
  justify-self: center;
  opacity: 90%;
}

.control-panel-header {
  position: relative;
  align-self: center;
  width: 60%;
  height: 25px;
  color: aliceblue;
  font-size: 18px;
  border-bottom: 1px solid rgb(61, 61, 61);
  user-select: none;
  margin: 5px;
}

.settings-icon {
  color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.settings-footer {
  position: absolute;
  bottom: 0;
  align-self: center;
  border-bottom: 1px solid rgb(61, 61, 61);
  width: 90%;
  margin: 15px;
}

.dither-select-box {
  display: flex;
  flex-direction: row;
  background-color: rgb(64, 64, 64);
  border-radius: 3px;
  font-size: 12px;
  margin: 5px;
  height: 45px;
  user-select: none;
  text-align: center;
  align-items: center;
}

.dither-select {
  position: relative;
  background-color: rgb(73, 73, 73);
  max-height: 25px;
  width: 135px;
  right: 0px;
  color: aliceblue;
  margin: auto;
  margin-right: 5px;
  border-radius: 3px;
}

.dither-option {
  background-color: rgb(68, 68, 68);
  font-size: 12px;
  color: aliceblue;
}

.dither-option:hover {
  background-color: #d05000;
}

.serpentine-box {
  display: flex;
  flex-direction: row;
  background-color: rgb(64, 64, 64);
  font-size: 12px;
  margin: 5px;
  height: 35px;
  user-select: none;
  text-align: center;
  align-items: center;
}

.option-name {
  max-width: 80px;
  font-size: 12px;
  margin: 5px;
}

#notification-container {
  position: absolute;
  top: 15px;
  left: (50% - 250px);
  width: 500px;
  margin: 5px;
  z-index: 9999;
  align-self: center;
  text-align: center;
}

.notification {
  padding: 10px;
  margin: 10px;
  background-color: #353535;
  border: 1px solid #616161;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.notification.hidden {
  opacity: 0;
}

.reset-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: auto;
  height: 25px;
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  text-shadow: 3px 3px #3b3b3b;
  color: white;
  opacity: 100%;
}

.reset-button:hover {
  color: #d05000;
}

.reset-button:active {
  transform: translateY(5px);
}